@if (isRendered()) {
  <div
    role="menu"
    [attr.aria-label]="
      ariaLabel() ?? (usedIn() === 'post-options' ? 'Opzioni post' : 'Menu applicazione')
    "
    class="absolute flex flex-col gap-1 rounded-lg bg-white dark:bg-zinc-900 shadow-md shadow-black/10 dark:shadow-black ring-1 ring-black/10 dark:ring-white/10  p-1 font-semibold transition-transform duration-150 ease-out {{
      usedIn() === 'navbar' && 'w-56 mb-1.5 bottom-full left-0 origin-bottom-left'
    }} {{ usedIn() === 'header' && 'w-56 mt-1.5 top-full right-0 origin-top-right' }} {{
      usedIn() === 'post-options' && 'mt-1 right-0 origin-top-right'
    }}"
    [class.w-56]="!isCurrentUserPost()"
    [class.w-46]="isCurrentUserPost()"
    [class.opacity-100]="isVisible()"
    [class.scale-100]="isVisible()"
    [class.opacity-0]="!isVisible()"
    [class.scale-85]="!isVisible()"
    [class.-z-10]="!isVisible()"
    [class.z-20]="isVisible()"
    [inert]="!isVisible()"
    (transitionend)="onTransitionEnd()"
  >
    <ng-content />
  </div>
}
