<aside
  class="fixed z-500 w-full md:top-0 left-0 bottom-0 md:w-30 flex flex-col items-center md:h-svh"
>
  <!-- Logo -->
  <div class="hidden w-full md:block text-center py-4">
    <h1 class="text-3xl font-bold tracking-normal">ngFeed</h1>
  </div>

  <!-- Navigazione principale -->
  <div
    class="flex flex-col items-center w-full flex-1 min-h-0 md:overflow-y-auto bg-white dark:bg-zinc-950 relative"
  >
    <div
      class="absolute z-100 -top-2.5 left-0 h-2.5 w-full mask-t-from-0% bg-gray-50 dark:bg-zinc-950 md:hidden"
    ></div>

    <ul
      class="flex md:flex-col items-center justify-around md:justify-center gap-2 md:gap-1 w-full flex-1"
    >
      <li
        appNavbarItem
        link="/per-te"
        [isActive]="isHomeActive()"
        ariaLabel="Home"
        [icon]="HomeIcon"
      ></li>

      <li appNavbarItem link="/cerca" ariaLabel="Cerca" [icon]="SearchIcon"></li>

      <li class="py-1 flex-1 md:flex-none">
        <button
          (click)="openCreatePostDialog()"
          class="text-zinc-400/80 bg-gray-200/40 dark:bg-zinc-800/70 w-full hover:text-black dark:hover:text-zinc-100 rounded-xl md:px-5 md:py-3 py-3 cursor-pointer flex items-center justify-center focus transition-transform active:scale-[0.92] relative z-10 group"
          aria-label="Apri crea nuovo post form"
        >
          <lucide-icon [img]="PlusIcon" size="28" aria-hidden></lucide-icon>
        </button>
      </li>

      <li
        appNavbarItem
        link="/preferiti"
        [isActive]="isActive('/preferiti')"
        ariaLabel="Preferiti"
        [icon]="BookmarkIcon"
      ></li>

      <li class="py-1 flex-1 md:flex-none">
        <button
          (click)="redirectTo('utente/' + authenticatedUser()?.localId)"
          [class.active]="
            isActive('/utente/' + authenticatedUser()?.localId + '/posts') ||
            isActive('/utente/' + authenticatedUser()?.localId + '/repost')
          "
          class="nav-profile-btn text-zinc-400/80 w-full rounded-xl md:px-5 md:py-3 py-3 cursor-pointer flex items-center justify-center focus transition-transform motion-reduce:transition-none active:scale-[0.92] relative z-10 group"
          aria-label="Apri profilo"
        >
          <div
            class="navlink-hover-bg bg-gray-200/40 dark:bg-zinc-800/70 w-full h-full rounded-xl scale-[0.85] absolute md:px-4 md:py-2 px-6 py-3 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 pointer-events-none group-hover:scale-100 duration-150 opacity-0 group-hover:opacity-100 ease-out transition-transform motion-reduce:transition-none"
          ></div>
          <lucide-icon [img]="UserIcon" size="28" aria-hidden></lucide-icon>
        </button>
      </li>
    </ul>
  </div>

  <!-- Menu button -->
  <div class="md:block hidden w-full mb-4 text-center">
    <div
      appClickOutside
      [clickOutsideEnabled]="isOpen()"
      (onClickOutside)="closeMenu()"
      class="relative inline-block"
    >
      <button
        #button
        class="text-zinc-400/80 rounded-xl px-5 py-3 cursor-pointer focus transition-transform motion-reduce:transition-none active:scale-[0.92] relative z-10 group"
        (click)="toggleOpen()"
        aria-label="Menu"
        [class.active]="isOpen()"
      >
        <div
          class="navlink-hover-bg bg-gray-200/40 dark:bg-zinc-800/70 w-full h-full rounded-xl scale-[0.85] absolute md:px-4 md:py-2 px-6 py-3 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 pointer-events-none group-hover:scale-100 duration-150 opacity-0 group-hover:opacity-100 ease-out transition-transform motion-reduce:transition-none"
        ></div>
        <lucide-icon [img]="EqualIcon" size="30" aria-hidden></lucide-icon>
      </button>

      <!-- Dropdown menu -->
      @defer (on hover(button); on interaction(button)) {
        <app-dropdown-menu [isOpen]="isOpen()" usedIn="navbar">
          <div class="flex items-center justify-center gap-1">
            <button
              role="menuitem"
              class="w-full self-stretch px-4 py-2 flex items-center justify-center hover:bg-gray-200/40 dark:hover:bg-zinc-800 rounded-md cursor-pointer focus {{
                themeMode() === 'light' ? 'bg-gray-100 dark:bg-zinc-800' : ''
              }}"
              aria-label="Modalità chiara"
              [attr.tabindex]="isOpen() ? '0' : '-1'"
              (click)="setTheme('light')"
            >
              <lucide-icon [img]="SunIcon" size="20" aria-hidden></lucide-icon>
            </button>
            <button
              role="menuitem"
              class="w-full self-stretch px-4 py-2 flex items-center justify-center hover:bg-gray-200/40 dark:hover:bg-zinc-800 rounded-md cursor-pointer focus {{
                themeMode() === 'dark' ? 'bg-gray-100 dark:bg-zinc-800' : ''
              }}"
              aria-label="Modalità scura"
              [attr.tabindex]="isOpen() ? '0' : '-1'"
              (click)="setTheme('dark')"
            >
              <lucide-icon [img]="MoonIcon" size="20" aria-hidden></lucide-icon>
            </button>
            <button
              role="menuitem"
              class="w-full self-stretch px-4 py-2 flex items-center justify-center hover:bg-gray-200/40 dark:hover:bg-zinc-800 rounded-md cursor-pointer focus {{
                themeMode() === 'system' ? 'bg-gray-100 dark:bg-zinc-800' : ''
              }}"
              aria-label="Segui tema di sistema"
              [attr.tabindex]="isOpen() ? '0' : '-1'"
              (click)="setTheme('system')"
            >
              Auto
            </button>
          </div>

          <button
            role="menuitem"
            class="w-full text-left px-4 py-2 hover:bg-gray-200/40 dark:hover:bg-zinc-800 rounded-md cursor-pointer focus"
            [attr.tabindex]="isOpen() ? '0' : '-1'"
          >
            Impostazioni
          </button>
          @if (isAuthenticated()) {
            <button
              role="menuitem"
              class="w-full text-left px-4 py-2 hover:bg-gray-200/40 dark:hover:bg-zinc-800 rounded-md cursor-pointer focus"
              [attr.tabindex]="isOpen() ? '0' : '-1'"
            >
              Segnala un problema
            </button>

            <a
              role="menuitem"
              (click)="logUserOut($event)"
              class="text-red-500 w-full text-left px-4 py-2 hover:bg-gray-200/40 dark:hover:bg-zinc-800 rounded-md cursor-pointer focus"
              [attr.tabindex]="isOpen() ? '0' : '-1'"
            >
              Esci
            </a>
          }
        </app-dropdown-menu>
      }
    </div>
  </div>
</aside>
