@if (type() === 'for-you') {
  <a
    [routerLink]="'/utente/' + post().userId + '/posts/' + post().id"
    class="bg-white p-4 w-full grid grid-cols-[2.8rem_1fr_auto] overflow-visible focus"
  >
    <img
      [ngSrc]="post().userAvatar || '/assets/images/default-user.avif'"
      [alt]="'Avatar di ' + post().userFirstName + ' ' + post().userLastName"
      class="rounded-full w-9 h-9 col-span-1"
      (error)="$any($event.target).src = '/assets/images/default-user.avif'"
      [loading]="index() < 3 ? 'eager' : 'lazy'"
      width="36"
      height="36"
    />

    <div class="flex items-center gap-2 col-span-1">
      <a
        [routerLink]="'/utente/' + post().userId"
        class="text-base font-semibold hover:underline focus"
        >{{ post().userUsername }}</a
      >

      @if (post().userIsVerified) {
        <app-verified-icon size="size-4" />
      }
    </div>

    <app-post-options
      [id]="post().id"
      [isCurrentUserPost]="false"
      [isOptionsOpen]="currentOptionsOpen() === post().id"
      [isSavedPost]="isSavedPost()"
      (openOptions)="setCurrentOptionsOpen(post().id)"
      (closeOptions)="setCurrentOptionsOpen(null)"
    />

    <h2
      class="text-base sm:text-lg font-semibold tracking-normal col-start-2 col-span-full mb-1 text-shadow-2xs shadow-zinc-800/5"
    >
      {{ post().title }}
    </h2>
    <p class="text-sm sm:text-base tracking-normal text-black/80 col-start-2 col-span-full">
      {{ post().description }}
    </p>
    <app-post-actions
      [isLikedPost]="isLikedPost()"
      [postId]="post().id"
      [likesCount]="post().likesCount"
      [commentsCount]="post().commentsCount"
    />
  </a>
}
@if (type() === 'user-posts') {
  <a
    [routerLink]="'/utente/' + post().userId + '/posts/' + post().id"
    class="flex flex-col gap-2 items-start px-4 py-4 sm:py-6 w-full focus"
  >
    <div class="flex justify-between items-start w-full _items-center gap-2">
      <h2
        class="text-base sm:text-lg font-semibold tracking-normal text-shadow-2xs shadow-zinc-800/5"
      >
        {{ post().title }}
      </h2>
      <app-post-options
        [id]="post().id"
        [isCurrentUserPost]="currentUserPost()"
        [isSavedPost]="isSavedPost()"
        [isOptionsOpen]="currentOptionsOpen() === post().id"
        (openOptions)="setCurrentOptionsOpen(post().id)"
        (closeOptions)="setCurrentOptionsOpen(null)"
      />
    </div>
    @if (shouldShowReadMore(post().content)) {
      <p
        class="text-sm sm:text-base tracking-normal text-start text-black/80 wrap-anywhere"
        [class.line-clamp-3]="!isExpanded()"
      >
        {{
          isExpanded() ? post().content : (post().content | slice: 0 : readMoreThreshold) + '...'
        }}
      </p>
    } @else {
      <p class="text-sm sm:text-base tracking-normal text-start text-black/80 wrap-anywhere">
        {{ post().content }}
      </p>
    }
    <!-- <p
      class="text-sm sm:text-base tracking-normal text-start br text-black/80 wrap-anywhere line-clamp-3"
    >
      {{ post().content }}
    </p> -->
    <div class="flex items-center justify-between w-full gap-2">
      <app-post-actions
        [isLikedPost]="isLikedPost()"
        [postId]="post().id"
        [likesCount]="post().likesCount"
        [commentsCount]="post().commentsCount"
      />

      @if (shouldShowReadMore(post().content)) {
        <button
          (click)="expandContent($event)"
          class="text-sm sm:text-base tracking-normal text-sky-500 wrap-anywhere cursor-pointer focus hover:underline"
        >
          {{ isExpanded() ? 'Leggi di meno' : 'Leggi di più' }}
        </button>
      }
    </div>
  </a>
}
@if (type() === 'full-post') {
  <div class="bg-white p-4 w-full grid grid-cols-[2.8rem_1fr_auto] gap-y-2 overflow-visible">
    <img
      [src]="post().userAvatar || '/assets/images/default-user.avif'"
      [alt]="'Avatar di ' + post().userFirstName + ' ' + post().userLastName"
      class="rounded-full w-9 h-9 col-span-1"
      priority
    />

    <div class="flex items-center gap-2 col-span-1">
      <a
        [routerLink]="'/utente/' + post().userId"
        class="text-base font-semibold hover:underline focus"
        >{{ post().userUsername }}</a
      >

      @if (post().userIsVerified) {
        <app-verified-icon size="size-4" />
      }
    </div>

    <app-post-options
      [id]="post().id"
      [isCurrentUserPost]="currentUserPost()"
      [isSavedPost]="isSavedPost()"
      [isOptionsOpen]="currentOptionsOpen() === post().id"
      (openOptions)="setCurrentOptionsOpen(post().id)"
      (closeOptions)="setCurrentOptionsOpen(null)"
    />

    <h2
      class="text-lg sm:text-xl text-left font-semibold tracking-normal col-start-2 col-span-full text-shadow-2xs shadow-zinc-800/5"
    >
      {{ post().title }}
    </h2>
    <h3
      class="text-base sm:text-lg text-left font-semibold tracking-normal text-black/80 col-start-2 col-span-full"
    >
      {{ post().description }}
    </h3>
    <p
      class="text-sm sm:text-base tracking-normal text-left text-black/80 wrap-anywhere col-start-2 col-span-full"
      [class.line-clamp-3]="!isExpanded() && shouldShowReadMore(post().content)"
    >
      @if (shouldShowReadMore(post().content)) {
        {{
          isExpanded() ? post().content : (post().content | slice: 0 : readMoreThreshold) + '...'
        }}
      } @else {
        {{ post().content }}
      }
    </p>
    <!-- @if (shouldShowReadMore(post().content)) {
      <p
        class="text-sm sm:text-base tracking-normal text-left text-black/80 wrap-anywhere col-start-2 col-span-full"
        [class.line-clamp-3]="!isExpanded()"
      >
        {{
          isExpanded() ? post().content : (post().content | slice: 0 : readMoreThreshold) + '...'
        }}
      </p>
    } @else {
      <p
        class="text-sm sm:text-base tracking-normal text-left text-black/80 wrap-anywhere col-start-2 col-span-full"
      >
        {{ post().content }}
      </p>
    } -->

    <app-post-actions
      [isLikedPost]="isLikedPost()"
      [postId]="post().id"
      [likesCount]="post().likesCount"
      [commentsCount]="post().commentsCount"
    />

    @if (shouldShowReadMore(post().content)) {
      <button
        (click)="expandContent($event)"
        class="text-sm sm:text-base tracking-normal text-sky-500 wrap-anywhere cursor-pointer focus hover:underline"
      >
        {{ isExpanded() ? 'Leggi di meno' : 'Leggi di più' }}
      </button>
    }
  </div>
}
