<!-- <form
  appFocusField
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
  class="flex flex-col gap-4 pb-4 sm:pb-6 px-4 sm:px-6"
> -->
<form
  appFocusField
  [formGroup]="reactiveForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-4 pb-4 sm:pb-6 px-4 sm:px-6"
>
  <div class="flex flex-col items-start gap-2">
    <label for="title">Titolo</label>

    <input
      type="text"
      id="title"
      name="title"
      class="w-full rounded-xl p-2 focus-input border focus:outline-none disabled:cursor-not-allowed {{
        titleIsInvalid ? 'border-red-500' : 'border-gray-300/80 dark:border-zinc-600/50'
      }}"
      formControlName="title"
    />
    <!--
      [disabled]="isWorking()"
      [ngModel]="post()!.title"
      required
      #title="ngModel"
     -->
    @if (titleIsInvalid) {
      <p
        class="text-red-600 dark:text-red-500 bg-red-500/10 dark:bg-red-500/10 rounded-xl text-left px-3 py-1 w-full"
        animate.enter="error-enter"
        animate.leave="error-leave"
      >
        Titolo non valido
      </p>
    }
  </div>

  <div class="flex flex-col items-start gap-2">
    <label for="description">Descrizione</label>
    <textarea
      id="description"
      name="description"
      rows="2"
      class="w-full rounded-xl p-2 focus-input border focus:outline-none disabled:cursor-not-allowed {{
        descriptionIsInvalid ? 'border-red-500 ' : 'border-gray-300/80 dark:border-zinc-600/50'
      }}"
      formControlName="description"
    ></textarea>
    @if (descriptionIsInvalid) {
      <p
        class="text-red-600 dark:text-red-500 bg-red-500/10 dark:bg-red-500/10 rounded-xl text-left px-3 py-1 w-full"
        animate.enter="error-enter"
        animate.leave="error-leave"
      >
        Descrizione non valida
      </p>
    }
  </div>

  <div class="flex flex-col items-start gap-2">
    <label for="content">Contenuto</label>
    <textarea
      id="content"
      name="content"
      class="w-full rounded-xl p-2 focus-input border focus:outline-none disabled:cursor-not-allowed h-58 sm:h-36 {{
        contentIsInvalid ? 'border-red-500 ' : 'border-gray-300/80 dark:border-zinc-600/50'
      }}"
      formControlName="content"
    ></textarea>
    @if (contentIsInvalid) {
      <p
        class="text-red-600 dark:text-red-500 bg-red-500/10 dark:bg-red-500/10 rounded-xl text-left px-3 py-1 w-full"
        animate.enter="error-enter"
        animate.leave="error-leave"
      >
        Deve contenere almeno 20 caratteri
      </p>
    }
  </div>

  <!-- <div class="flex flex-col items-start gap-2">
    <label for="image">Immagine del post</label>
    <input
      type="file"
      id="image"
      name="image"
      class="w-full rounded-xl p-2 border border-gray-300/80 focus disabled:cursor-not-allowed"
      ngModel
      #image="ngModel"
      [disabled]="isWorking()"
    />
  </div> -->

  <app-button
    variant="form-submit"
    size="md"
    [disabled]="reactiveForm.invalid || isWorking() || isUnchanged()"
  >
    @if (isWorking()) {
      <span>{{
        mode() === 'create' ? 'Pubblicazione in corso...' : 'Salvataggio in corso...'
      }}</span>

      <div appLoader [action]="'neutral'"></div>
    } @else {
      <span>{{ mode() === 'create' ? 'Pubblica post' : 'Salva modifiche' }}</span>
    }
  </app-button>
</form>
