<form
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
  appFocusField
  class="flex flex-col gap-4 pb-4 sm:pb-6 px-4 sm:px-6"
>
  <div class="flex flex-col items-start gap-2">
    <label for="title">Titolo</label>

    <input
      type="text"
      id="title"
      name="title"
      class="w-full rounded-xl p-2 border border-gray-300/80 focus-input disabled:cursor-not-allowed"
      [class.border-red-400]="title.invalid && title.touched && title.dirty"
      [class.ring-1]="title.invalid && title.touched && title.dirty"
      [class.ring-red-400!]="title.invalid && title.touched && title.dirty"
      [class.bg-red-50]="title.invalid && title.touched && title.dirty"
      [ngModel]="post()!.title"
      required
      #title="ngModel"
      [disabled]="isWorking()"
    />
  </div>

  <div class="flex flex-col items-start gap-2">
    <label for="description">Descrizione</label>
    <textarea
      id="description"
      name="description"
      rows="2"
      class="w-full rounded-xl p-2 border border-gray-300/80 focus disabled:cursor-not-allowed"
      [class.border-red-400]="description.invalid && description.touched && description.dirty"
      [class.ring-1]="description.invalid && description.touched && description.dirty"
      [class.ring-red-400!]="description.invalid && description.touched && description.dirty"
      [class.bg-red-50]="description.invalid && description.touched && description.dirty"
      [ngModel]="post()!.description"
      required
      #description="ngModel"
      [disabled]="isWorking()"
    ></textarea>
  </div>

  <div class="flex flex-col items-start gap-2">
    <label for="content">Contenuto</label>
    <textarea
      id="content"
      name="content"
      class="w-full rounded-xl p-2 border border-gray-300/80 caret-black focus:outline-none disabled:cursor-not-allowed h-58 sm:h-36"
      [class.border-red-400]="content.invalid && content.touched && content.dirty"
      [class.ring-2]="content.invalid && content.touched && content.dirty"
      [class.ring-red-400]="content.invalid && content.touched && content.dirty"
      [class.focus:ring-2]="!(content.invalid && content.touched && content.dirty)"
      [class.focus:ring-black]="!(content.invalid && content.touched && content.dirty)"
      [ngModel]="post()!.content"
      required
      minlength="20"
      #content="ngModel"
      [disabled]="isWorking()"
    ></textarea>
    @if (content.invalid && content.touched && content.dirty) {
      <p class="text-red-600 bg-red-500/10 rounded-xl text-left px-3 py-1 w-full">
        Deve contenere almeno 20 caratteri
      </p>
    }
  </div>

  <!-- <div class="flex flex-col items-start gap-2">
    <label for="image">Immagine del post</label>
    <input
      type="file"
      id="image"
      name="image"
      class="w-full rounded-xl p-2 border border-gray-300/80 focus disabled:cursor-not-allowed"
      ngModel
      #image="ngModel"
      [disabled]="isWorking()"
    />
  </div> -->

  <button
    type="submit"
    class="bg-black hover:bg-black/80 disabled:hover:bg-black cursor-pointer disabled:cursor-not-allowed transition-colors duration-300 text-white px-4 py-2 text-base sm:text-lg rounded-xl font-bold text-shadow-2xs focus-button flex items-center gap-4 justify-center"
    [disabled]="isWorking() || !form.dirty"
  >
    @if (isWorking()) {
      <span>{{ mode() === 'create' ? 'Pubblicazione in corso' : 'Salvataggio in corso' }}</span>

      <div
        class="size-5 rounded-full border-[3px] border-black border-t-white border-r-white animate-spin [animation-duration:500ms]"
      ></div>
    } @else {
      <span>{{ mode() === 'create' ? 'Pubblica post' : 'Salva modifiche' }}</span>
    }
  </button>

  @if (title.touched && description.touched && content.touched && form.form.invalid) {
    <p class="text-red-600 bg-red-500/10 rounded-xl text-center p-1">
      Uno o più valori del form non sono validi
    </p>
  }
</form>
