<section
  aria-label="Notifiche"
  aria-live="polite"
  aria-relevant="additions text"
  aria-atomic="false"
>
  <ol
    class="fixed left-2 right-2 md:left-auto md:right-4 bottom-16 md:bottom-4 md:w-80 z-5000 flex flex-col gap-(--gap) motion-reduce:transition-none"
    [style.--gap]="'calc(var(--spacing) * 4)'"
    tabindex="-1"
  >
    @for (toast of toasts(); track toast.id) {
      <app-better-toast-item
        [toast]="toast"
        [icon]="getIcon(toast.type)"
        [index]="toasts().length - ($index + 1)"
      ></app-better-toast-item>
    }
  </ol>
</section>
