.toast {
  opacity: 1;
  transform: translateY(calc(var(--index) * (100% + var(--gap)) * -1));
  scale: 1;
  transition:
    opacity 400ms ease,
    transform 400ms ease,
    scale 400ms ease;

  @starting-style {
    opacity: 0;
    transform: translateY(100%);
    scale: 0.95;
  }
}

.leave {
  opacity: 0;
  transform: translateY(130%);
  scale: 0.95;
}
