<!-- Avatar -->
<div class="w-9 h-9 bg-gray-200 dark:bg-zinc-800 rounded-full col-span-1"></div>

<!-- Username + verified -->
<div class="flex items-center gap-2 col-span-1">
  <div class="w-24 h-4 bg-gray-200 dark:bg-zinc-800 rounded"></div>
  <div class="w-4 h-4 bg-gray-200 dark:bg-zinc-800 rounded-full"></div>
</div>

<!-- Options button -->
<div class="relative inline-flex items-center col-span-1 p-2">
  <div class="w-5 h-2 bg-gray-200 dark:bg-zinc-800 rounded-full"></div>
</div>

<!-- Title -->
<div class="col-start-2 col-span-full mt-2">
  <div class="w-1/2 h-4.5 bg-gray-200 dark:bg-zinc-800 rounded mb-1"></div>
</div>

<!-- Description -->
<div class="col-start-2 col-span-full mt-1">
  <div class="w-full h-4 bg-gray-200 dark:bg-zinc-800 rounded mb-1"></div>
  <div class="w-1/3 h-4 bg-gray-200 dark:bg-zinc-800 rounded block sm:hidden"></div>
</div>

<!-- Content -->
<div class="col-start-2 col-span-full mt-1 space-y-1">
  <div class="h-4 w-full bg-gray-200 dark:bg-zinc-800 rounded"></div>
  <div class="h-4 w-1/2 bg-gray-200 dark:bg-zinc-800 rounded"></div>
</div>

<!-- Post actions -->
<div class="flex items-center gap-2 col-start-2 pt-2 col-span-1">
  <div class="w-12 h-7 bg-gray-200 dark:bg-zinc-800 rounded-full"></div>
  <div class="w-12 h-7 bg-gray-200 dark:bg-zinc-800 rounded-full"></div>
  <div class="w-7 h-7 bg-gray-200 dark:bg-zinc-800 rounded-full"></div>
</div>
