<header
  class="flex fixed top-0 left-0 h-16 z-100 items-center bg-white justify-between w-full md:hidden px-2"
>
  <!-- Logo -->
  <div class="grow text-center pl-10">
    <h1 class="text-3xl font-bold tracking-normal">ngFeed</h1>
  </div>

  <!-- Menu button -->
  <div
    appClickOutsideDropdown
    [clickOutsideEnabled]="isOpen()"
    (onClickOutside)="closeMenu()"
    class="relative inline-block"
  >
    <button
      class="text-zinc-400/80 rounded-xl active:scale-[0.92] transition-transform px-5 py-3 cursor-pointer focus relative z-10 group"
      aria-label="Menu"
      (click)="toggleOpen()"
      [class.active]="isOpen()"
    >
      <div
        class="bg-gray-100/55 w-full h-full rounded-xl scale-[0.85] absolute px-6 py-3 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 pointer-events-none group-hover:scale-100 duration-150 opacity-0 group-hover:opacity-100 ease-out transition-transform"
      ></div>
      <lucide-icon [img]="EqualIcon" size="24" aria-hidden></lucide-icon>
    </button>

    <!-- Dropdown -->
    <app-dropdown-menu [isOpen]="isOpen()" usedIn="header">
      <div class="flex items-center justify-center gap-1">
        <button
          class="w-full self-stretch px-4 py-2 flex items-center justify-center hover:bg-gray-100/75 rounded-md cursor-pointer focus"
          aria-label="Modalità chiara"
          [attr.tabindex]="isOpen() ? '0' : '-1'"
        >
          <lucide-icon [img]="SunIcon" size="20" aria-hidden></lucide-icon>
        </button>
        <button
          class="w-full self-stretch px-4 py-2 flex items-center justify-center hover:bg-gray-100/75 rounded-md cursor-pointer focus"
          aria-label="Modalità scura"
          [attr.tabindex]="isOpen() ? '0' : '-1'"
        >
          <lucide-icon [img]="MoonIcon" size="20" aria-hidden></lucide-icon>
        </button>
        <button
          class="w-full self-stretch px-4 py-2 flex items-center justify-center bg-gray-100/75 hover:bg-gray-100/75 rounded-md cursor-pointer focus"
          [attr.tabindex]="isOpen() ? '0' : '-1'"
        >
          Auto
        </button>
      </div>

      <button
        class="w-full text-left px-4 py-2 hover:bg-gray-100/75 rounded-md cursor-pointer focus"
        [attr.tabindex]="isOpen() ? '0' : '-1'"
      >
        Impostazioni
      </button>

      @if (currentUser()) {
        <button
          class="w-full text-left px-4 py-2 hover:bg-gray-100/75 rounded-md cursor-pointer focus"
          [attr.tabindex]="isOpen() ? '0' : '-1'"
        >
          Segnala un problema
        </button>

        <button
          (click)="logUserOut($event)"
          class="text-red-500 w-full text-left px-4 py-2 hover:bg-gray-100/75 rounded-md cursor-pointer focus"
          [attr.tabindex]="isOpen() ? '0' : '-1'"
        >
          Esci
        </button>
      }
    </app-dropdown-menu>
  </div>
</header>
