.auth-btn-enter {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;

  @starting-style {
    opacity: 0;
    transform: translateX(10px);
  }
}
