<div
  role="tablist"
  class="max-w-2xl mx-auto bg-white dark:bg-zinc-950 flex items-center justify-center gap-6 w-full py-3 md:sticky md:top-0 md:z-1000"
>
  <a
    id="tab-per-te"
    role="tab"
    routerLink="/per-te"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="text-xl font-semibold pt-2 px-4 tracking-normal text-gray-400/80 cursor-pointer focus"
    >Per te</a
  >
  @if (authUser() && currentUser()) {
    <a
      id="tab-seguiti"
      role="tab"
      routerLink="/seguiti"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="text-xl font-semibold text-zinc-400/80 pt-2 px-4 tracking-normal cursor-pointer focus"
      >Seguiti</a
    >
  }
</div>

<div class="max-w-2xl mx-auto sticky top-15 z-900 hidden md:block">
  <div class="absolute top-0 left-0 z-2 w-7 h-9 overflow-hidden">
    <div
      class="w-12 h-12 rounded-t-3xl border-t border-l border-gray-300/50 dark:border-zinc-800/90 shadow-[0_0_0_9999px_white] dark:shadow-[0_0_0_9999px_#09090b]"
    ></div>
  </div>

  <div
    class="absolute top-0 left-0 right-0 z-1 max-w-[93%] mx-auto h-2 bg-transparent border-t border-gray-300/50 dark:border-zinc-800/90 _rounded-t-3xl"
  ></div>

  <div class="absolute top-0 right-0 z-2 w-7 h-9 overflow-hidden">
    <div
      class="-ml-5 w-12 h-12 rounded-t-3xl border-t border-r border-gray-300/50 dark:border-zinc-800/90 shadow-[0_0_0_9999px_white] dark:shadow-[0_0_0_9999px_#09090b]"
    ></div>
  </div>
</div>

<div role="tabpanel" [attr.aria-labelledby]="activeTabId" id="home-tabpanel" class="contents">
  @if (authUser() && currentUser()) {
    <div
      class="max-w-2xl mx-auto bg-white dark:bg-zinc-950 md:bg-gray-100/50 md:dark:bg-zinc-900/60 border-x-0 md:border-x border-gray-300/70 dark:border-zinc-800/90 flex flex-col w-full _pt-4 overflow-hidden"
    >
      <div
        class="flex items-center gap-3 border-b border-gray-300/70 dark:border-zinc-800/90 px-1 py-4 sm:px-5 sm:py-4"
      >
        <div
          class="flex items-center gap-2 flex-1 focus"
          role="button"
          tabindex="0"
          (click)="openDialog('create', null)"
          (keydown.enter)="openDialog('create', null)"
          (keydown.space)="openDialog('create', null)"
        >
          <img
            [ngSrc]="currentUser()?.avatar | safeAvatarUrl"
            [alt]="'Avatar di ' + currentUser()?.firstName + ' ' + currentUser()?.lastName"
            width="36"
            height="36"
            class="size-9 rounded-full select-none"
            priority
            (error)="$any($event.target).src = '/assets/images/default-user.avif'"
          />
          <p class="text-sm sm:text-base font-medium text-zinc-400/80">
            Cosa c'è di nuovo {{ currentUser()?.firstName }}?
          </p>
        </div>

        <app-button type="button" size="md" (click)="openDialog('create', null)"
          >Pubblica</app-button
        >
      </div>
    </div>
  }

  <router-outlet />
</div>
