<div
  class="max-w-3xl mx-auto bg-white flex items-center justify-center gap-6 w-full mt-3 md:sticky md:top-0 md:z-10"
>
  <a
    routerLink="/per-te"
    routerLinkActive="active"
    class="text-xl font-bold py-2 px-4 tracking-normal text-gray-400/80 cursor-pointer focus"
    >Per te</a
  >
  @if (authUser() && currentUser()) {
    <a
      routerLink="/seguiti"
      routerLinkActive="active"
      class="text-xl font-bold text-zinc-400/80 py-2 px-4 tracking-normal cursor-pointer focus"
      >Seguiti</a
    >
  }
</div>
@if (authUser() && currentUser()) {
  <div
    class="max-w-3xl mx-auto bg-white flex flex-col divide-y divide-gray-200 w-full px-0 md:px-2 pt-4 overflow-hidden"
  >
    <div class="flex items-center _justify-between gap-3 border-b border-gray-300/50 p-4">
      <div
        class="flex items-center gap-2 flex-1"
        role="button"
        tabindex="0"
        (click)="openDialog('create', null)"
        (keydown.enter)="openDialog('create', null)"
        (keydown.space)="openDialog('create', null)"
      >
        <img
          [ngSrc]="currentUser()?.avatar || '/assets/images/default-user.avif'"
          [alt]="'Avatar di ' + currentUser()?.firstName + ' ' + currentUser()?.lastName"
          width="36"
          height="36"
          class="size-9 rounded-full"
          priority
          (error)="$any($event.target).src = '/assets/images/default-user.avif'"
        />
        <p class="text-sm sm:text-base font-medium text-zinc-400/80">
          Cosa c'è di nuovo {{ currentUser()?.firstName }}?
        </p>
      </div>
      <button
        (click)="openDialog('create', null)"
        class="bg-black hover:bg-black/80 cursor-pointer transition-transform duration-300 text-white px-4 py-2 text-base sm:text-lg rounded-md font-semibold text-shadow-2xs focus-button active:scale-[0.95]"
      >
        Pubblica
      </button>
    </div>
  </div>
}
<router-outlet />
