<div class="hidden md:block max-w-2xl mx-auto text-center w-full py-4">
  <h1 class="text-xl font-semibold tracking-normal">
    {{ isLoginMode() ? 'Accedi' : 'Registrati' }}
  </h1>
</div>

<!-- Template-driven form -->
<form
  appFocusField
  #form="ngForm"
  class="flex flex-col gap-4 pb-4 sm:pb-6 sm:px-6 px-4 overflow-y-auto max-w-2xl mx-auto my-40 min-h-[calc(100svh-27rem)]"
  (ngSubmit)="onSubmit(form)"
>
  <div class="flex flex-col items-start gap-2 {{ !isLoginMode() && 'mt-2' }}">
    <div class="flex items-end gap-3">
      <label for="email">Email</label>

      @if (isLoginMode()) {
        <app-hint fieldValue="test@example.com"></app-hint>
      }
    </div>

    <input
      type="email"
      id="email"
      name="email"
      autocomplete="email"
      spellcheck="false"
      class="shadow-md dark:shadow-lg shadow-black/10 dark:shadow-black/90 ring-1 ring-black/10 dark:ring-white/10 w-full rounded-xl p-2 focus-input disabled:cursor-not-allowed dark:bg-zinc-900 dark:text-zinc-100"
      ngModel
      required
      email
      [disabled]="isLoading()"
    />
  </div>

  <div class="flex flex-col items-start gap-2 relative {{ !isLoginMode() && 'mt-2' }}">
    <div class="flex items-end gap-3">
      <label for="password">Password</label>

      @if (isLoginMode()) {
        <app-hint fieldValue="123456"></app-hint>
      }
    </div>

    <div class="relative w-full">
      <input
        [type]="passwordVisible() ? 'text' : 'password'"
        id="password"
        name="password"
        autocomplete="current-password"
        class="shadow-md dark:shadow-lg shadow-black/10 dark:shadow-black/90 ring-1 ring-black/10 dark:ring-white/10 w-full rounded-xl p-2 focus-input disabled:cursor-not-allowed dark:bg-zinc-900 dark:text-zinc-100"
        ngModel
        required
        [disabled]="isLoading()"
      />

      <button
        type="button"
        aria-label="{{ passwordVisible() ? 'Nascondi password' : 'Mostra password' }}"
        (click)="this.passwordVisible.set(!this.passwordVisible())"
        class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer rounded-full p-2 hover:bg-gray-100/85 dark:hover:bg-zinc-800/80"
      >
        @if (passwordVisible()) {
          <lucide-icon [img]="EyeOffIcon" size="16" aria-hidden="true"></lucide-icon>
        } @else {
          <lucide-icon [img]="EyeIcon" size="16" aria-hidden="true"></lucide-icon>
        }
      </button>
    </div>
  </div>

  <app-button variant="form-submit" [disabled]="!form.valid || isLoading()" twStyles="flex-1">
    @if (isLoading()) {
      <span>Attendi...</span>
      <div appLoader [action]="'neutral'"></div>
    } @else {
      <span>{{ isLoginMode() ? 'Accedi' : 'Registrati' }}</span>
    }
  </app-button>

  <div class="flex items-center justify-center gap-1">
    <p>{{ isLoginMode() ? 'Non sei registrato?' : 'Sei già registrato?' }}</p>
    <button
      type="button"
      [disabled]="isLoading()"
      class="hover:underline font-semibold cursor-pointer px-1"
      (click)="switchMode()"
    >
      {{ isLoginMode() ? 'Registrati' : 'Accedi' }}
    </button>
  </div>

  @if (error()) {
    <p
      role="alert"
      aria-live="assertive"
      class="text-red-600 dark:text-red-500 bg-red-600/10 dark:bg-red-500/10 rounded-xl text-center px-3 py-1 w-full"
      animate.enter="error-enter"
      animate.leave="error-leave"
    >
      {{ error() }}
    </p>
  }
</form>
