<div class="hidden md:block max-w-3xl mx-auto text-center w-full py-4">
  <h1 class="text-xl font-bold tracking-normal">{{ isLoginMode() ? 'Accedi' : 'Registrati' }}</h1>
</div>

<!-- Template-driven form -->
<form
  appFocusField
  #form="ngForm"
  class="flex flex-col gap-4 pb-4 sm:pb-6 sm:px-6 px-4 overflow-y-auto max-w-3xl mx-auto my-40"
  (ngSubmit)="onSubmit(form)"
>
  <div class="flex flex-col items-start gap-2">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      autocomplete="email"
      spellcheck="false"
      class="w-full rounded-xl p-2 border border-gray-300/80 focus dark:border-zinc-800/80 dark:bg-zinc-900 dark:text-zinc-100"
      ngModel
      required
      email
      [disabled]="isLoading()"
    />
  </div>

  <div class="flex flex-col items-start gap-2">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      class="w-full rounded-xl p-2 border border-gray-300/80 focus dark:border-zinc-800/80 dark:bg-zinc-900 dark:text-zinc-100"
      ngModel
      required
      minlength="6"
      [disabled]="isLoading()"
    />
  </div>

  <app-button variant="form-submit" [disabled]="!form.valid || isLoading()" twStyles="flex-1">
    @if (isLoginMode()) {
      @if (isLoading()) {
        <span>Attendi</span>
        <div
          class="size-5 rounded-full border-2 border-black border-t-2 border-t-white border-r-2 border-r-white border-b-2 dark:border-white dark:border-t-black dark:border-r-black animate-spin [animation-duration:500ms]"
          aria-hidden="true"
        ></div>
      } @else {
        <span>Accedi</span>
      }
    } @else {
      @if (isLoading()) {
        <span>Attendi</span>
        <div
          class="size-5 rounded-full border-2 border-black border-t-2 border-t-white border-r-2 border-r-white border-b-2 dark:border-white dark:border-t-black dark:border-r-black animate-spin [animation-duration:500ms]"
          aria-hidden="true"
        ></div>
      } @else {
        <span>Registrati</span>
      }
    }
  </app-button>

  <div class="flex items-center justify-center gap-2">
    @if (isLoginMode()) {
      <p>Non sei registrato?</p>
      <button
        type="button"
        [disabled]="isLoading()"
        class="hover:underline font-semibold cursor-pointer"
        (click)="switchMode()"
      >
        Registrati
      </button>
    } @else {
      <p>Sei già registrato?</p>
      <button
        type="button"
        [disabled]="isLoading()"
        class="hover:underline font-semibold cursor-pointer"
        (click)="switchMode()"
      >
        Accedi
      </button>
    }
  </div>

  @if (error()) {
    <p
      role="alert"
      aria-live="assertive"
      class="text-red-600 dark:text-red-500 bg-red-600/10 dark:bg-red-500/10 rounded-xl text-center px-3 py-1 w-full"
      animate.enter="error-enter"
      animate.leave="error-leave"
    >
      {{ error() }}
    </p>
  }
</form>
