label,
legend {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
}

.dark label,
.dark legend {
  color: rgba(255, 255, 255, 0.6);
}
