@import 'tailwindcss';

@theme {
  --font-geist: 'Geist', sans-serif;
  /* --font-inconsolata: 'Outfit', sans-serif; */
  --font-mulish: 'Mulish', sans-serif;
}

::selection {
  background-color: #000; /* colore sfondo */
  color: #fff; /* colore testo */
}

html {
  scrollbar-gutter: stable;
}

body.modal-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.active {
  @apply text-black!;
}

.focus {
  @apply focus-visible:outline-2 focus-visible:outline-black;
}

.focus-input {
  @apply caret-black focus:ring-2 focus:ring-black focus:outline-none;
}

.focus-button {
  @apply focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-black;
}
