<div class="hidden md:block max-w-3xl mx-auto text-center w-full py-4">
  <p class="text-xl font-bold tracking-normal">Profilo</p>
</div>
<div class="max-w-3xl flex flex-col mx-auto text-center w-full py-4">
  <div class="md:sticky top-0 bg-white z-50">
    @if (isFetching()) {
      <div accountSkeleton></div>
    }
    @if (user() && !isFetching()) {
      <div class="flex items-start gap-4 p-4">
        <img
          [src]="user()?.avatar || '/assets/images/avatar.png'"
          [alt]="'Avatar di ' + user()?.firstName + ' ' + user()?.lastName"
          class="md:size-24 size-28 bg-gray-200 rounded-full col-span-1"
        />
        <div
          class="flex md:flex-row flex-col md:justify-between items-start md:items-center grow md:gap-4 gap-4"
        >
          <div class="flex flex-col items-start flex-1">
            <div class="flex items-center gap-2">
              <p class="text-2xl font-bold tracking-normal">
                {{ user()?.firstName + ' ' + user()?.lastName }}
              </p>
              @if (user()?.isVerified) {
                <app-verified-icon size="size-4.5" />
              }
            </div>
            <p class="text-gray-500 mb-2">@{{ user()?.username }}</p>
            <p class="text-gray-500 text-left mb-4">{{ user()?.bio }}</p>
            <div class="flex items-center gap-2">
              <p class="text-gray-500">{{ 'Follower: ' + user()?.followersCount }}</p>
              <span class="text-gray-500">•</span>
              <a
                href="{{ user()?.websiteUrl }}"
                class="text-gray-500 hover:underline underline-offset-1"
                target="_blank"
                rel="noopener noreferrer"
                >{{ user()?.websiteUrl!.split('//')[1] }}</a
              >
            </div>
          </div>
          @if (isCurrentUserPage()) {
            <button
              (click)="openUpdateProfile()"
              class="bg-black hover:bg-black/80 w-full md:w-auto md:max-w-fit cursor-pointer duration-300 text-white px-4 py-2 text-sm rounded-md font-bold text-shadow-2xs focus-button md:self-start active:scale-[0.95] transition-transform"
            >
              Modifica profilo
            </button>
          }
        </div>
      </div>
    }

    <div class="flex px-2 gap-6 sm:gap-16 py-4 justify-center">
      <a
        routerLink="feeds"
        routerLinkActive="active"
        class="text-lg font-bold tracking-normal text-zinc-400/80 px-2 focus"
        >{{ isCurrentUserPage() ? 'I tuoi post' : 'I post di ' + user()?.firstName }}</a
      >
      <a
        routerLink="repost"
        routerLinkActive="active"
        class="text-lg font-bold tracking-normal text-zinc-400/80 px-2 focus"
        >Repost</a
      >
    </div>
  </div>

  <router-outlet />
</div>
