<div class="hidden md:block max-w-3xl mx-auto text-center w-full py-4">
  <p class="text-xl font-bold tracking-tight">Profilo</p>
</div>
<div class="max-w-3xl flex flex-col mx-auto text-center w-full py-4">
  <div class="md:sticky top-0 bg-white z-50">
    @if (isFetching()) {
      <div accountSkeleton></div>
    }
    @if (user() && !isFetching()) {
      <div class="flex items-center gap-4 p-4">
        <img
          [src]="user()?.avatar || '/assets/images/avatar.png'"
          [alt]="'Avatar di ' + user()?.firstName + ' ' + user()?.lastName"
          class="md:size-24 size-28 bg-gray-200 rounded-full col-span-1"
        />
        <!-- <div class="md:size-24 size-28 bg-gray-200 rounded-full flex"></div> -->
        <div
          class="flex md:flex-row flex-col md:justify-between items-start md:items-center grow md:gap-2 gap-4"
        >
          <div class="flex flex-col items-start">
            <div class="flex items-center gap-2">
              <p class="text-2xl font-bold tracking-tight">
                {{ user()?.firstName + ' ' + user()?.lastName }}
              </p>
              @if (user()?.isVerified) {
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4.5 text-blue-500"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M21.007 8.27C22.194 9.125 23 10.45 23 12c0 1.55-.806 2.876-1.993 3.73.24 1.442-.134 2.958-1.227 4.05-1.095 1.095-2.61 1.459-4.046 1.225C14.883 22.196 13.546 23 12 23c-1.55 0-2.878-.807-3.731-1.996-1.438.235-2.954-.128-4.05-1.224-1.095-1.095-1.459-2.611-1.217-4.05C1.816 14.877 1 13.551 1 12s.816-2.878 2.002-3.73c-.242-1.439.122-2.955 1.218-4.05 1.093-1.094 2.61-1.467 4.057-1.227C9.125 1.804 10.453 1 12 1c1.545 0 2.88.803 3.732 1.993 1.442-.24 2.956.135 4.048 1.227 1.093 1.092 1.468 2.608 1.227 4.05Zm-4.426-.084a1 1 0 0 1 .233 1.395l-5 7a1 1 0 0 1-1.521.126l-3-3a1 1 0 0 1 1.414-1.414l2.165 2.165 4.314-6.04a1 1 0 0 1 1.395-.232Z"
                      fill="currentColor"
                    ></path>
                  </g>
                </svg>
              }
            </div>
            <p class="text-gray-500">@{{ user()?.username }}</p>
          </div>
          @if (isCurrentUserPage() && !isUpdateProfileUrlActive()) {
            <a
              routerLink="modifica"
              class="bg-black hover:bg-black/80 cursor-pointer transition-colors duration-300 text-white px-4 py-2 text-sm rounded-md font-bold text-shadow-2xs focus-button"
            >
              Modifica profilo
            </a>
          }
        </div>
      </div>
    }

    <div
      [class]="
        `flex px-2 gap-6 sm:gap-16 py-4 md:justify-center ${isCurrentUserPage() ? 'justify-between' : 'justify-center'}`
      "
    >
      <a
        routerLink="feeds"
        routerLinkActive="active"
        class="text-lg font-bold tracking-tight text-zinc-400/80 px-2 focus"
        >{{ isCurrentUserPage() ? 'I tuoi post' : 'I post di ' + user()?.firstName }}</a
      >
      @if (isCurrentUserPage()) {
        <a
          routerLink="nuovo-feed"
          routerLinkActive="active"
          class="text-lg font-bold tracking-tight text-zinc-400/80 px-2 focus"
          >Nuovo post</a
        >
      }
      <a
        routerLink="repost"
        routerLinkActive="active"
        class="text-lg font-bold tracking-tight text-zinc-400/80 px-2 focus"
        >Repost</a
      >
    </div>
  </div>

  <router-outlet />
</div>
