<div class="hidden md:block max-w-3xl mx-auto text-center w-full py-4">
  <p class="text-xl font-bold tracking-normal">Post</p>
</div>
<div
  class="max-w-3xl flex flex-col mx-auto text-center w-full py-4 divide-y divide-gray-200 pb-20 md:pb-4"
>
  @if (isFetching()) {
    <div fullFeedSkeleton></div>
  }
  @if (post() && !isFetching()) {
    <app-feed-post [post]="post()!" [type]="'full-feed'" [currentUserFeeds]="isCurrentUserFeed()" />
  }

  @for (feed of [0, 1, 2]; track feed) {
    <div class="bg-white p-4 w-full grid grid-cols-[2.8rem_1fr_auto] overflow-visible">
      <div class="w-9 h-9 bg-gray-200 rounded-full col-span-1"></div>
      <div class="flex items-center gap-2 col-span-1">
        <span class="text-base font-semibold">marcodefalco</span>
        <app-verified-icon size="size-4" />
      </div>
      <div class="relative inline-block col-span-1">
        <button
          class="hover:bg-gray-100/55 text-zinc-400/80 rounded-full p-2 cursor-pointer col-span-1 focus"
          aria-label="Opzioni post"
        >
          <lucide-icon [img]="EllipsisIcon" size="18" aria-hidden></lucide-icon>
        </button>
      </div>

      <p
        class="text-sm sm:text-base text-left tracking-normal text-black/80 col-start-2 col-span-full"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis doloremque illum
        voluptates facilis aspernatur dolorum facere inventore aperiam blanditiis!
      </p>
      <div class="flex items-center gap-2 col-start-2 pt-2 col-span-1 -ml-2">
        <button
          class="hover:bg-gray-100/55 rounded-full p-2 cursor-pointer flex items-center gap-1 focus"
          aria-label="Mi piace del post"
        >
          <lucide-icon [img]="HeartIcon" size="20" class="text-black!" aria-hidden></lucide-icon>
          <span class="text-sm text-black">10</span>
        </button>
        <button
          class="hover:bg-gray-100/55 rounded-full p-2 cursor-pointer flex items-center gap-1 focus"
          aria-label="Commenti del post"
        >
          <lucide-icon
            [img]="MessageCircleIcon"
            size="18"
            class="text-black!"
            aria-hidden
          ></lucide-icon>
          <span class="text-sm text-black">10</span>
        </button>
        <button
          class="hover:bg-gray-100/55 rounded-full p-2 cursor-pointer focus"
          aria-label="Reposta il post"
        >
          <lucide-icon [img]="RefreshCcw" size="18" class="text-black!" aria-hidden></lucide-icon>
        </button>
      </div>
    </div>
  }
</div>
