<button
  type="button"
  (click)="dismissToast(toast().id)"
  class="cursor-pointer absolute top-0 right-0 rounded-full sm:size-5.5 size-6 flex items-center justify-center focus [&_svg]:size-4! sm:[&_svg]:size-3.5!"
  aria-label="Chiudi notifica"
>
  <lucide-icon
    [img]="XIcon"
    size="14"
    class="{{
      toast().type === 'error'
        ? 'text-red-900 dark:text-red-200'
        : toast().type === 'success'
          ? 'text-green-700 dark:text-green-200'
          : toast().type === 'info'
            ? 'text-blue-900 dark:text-blue-200'
            : toast().type === 'warning'
              ? 'text-yellow-900 dark:text-yellow-200'
              : 'text-zinc-900 dark:text-white'
    }}"
    aria-hidden
  ></lucide-icon>
</button>

<div class="flex gap-2 items-start">
  @if (icon()) {
    <span class="[&_svg]:size-6! sm:[&_svg]:size-5!">
      <lucide-icon
        [img]="icon()!"
        size="20"
        class="{{
          toast().type === 'success'
            ? 'fill-green-700 text-white dark:fill-green-200 dark:text-zinc-900'
            : toast().type === 'error'
              ? 'fill-red-900 text-white dark:fill-red-200 dark:text-zinc-900'
              : toast().type === 'info'
                ? 'fill-blue-900 text-white dark:fill-blue-200 dark:text-zinc-900'
                : toast().type === 'warning'
                  ? 'fill-yellow-900 text-white dark:fill-yellow-200 dark:text-zinc-900'
                  : 'text-black/50 dark:text-zinc-400'
        }}"
        aria-hidden
      ></lucide-icon>
    </span>
  }

  <p
    role="status"
    aria-live="polite"
    class="text-base sm:text-sm font-medium dark:font-normal {{
      toast().type === 'error'
        ? 'text-red-900 dark:text-red-200'
        : toast().type === 'success'
          ? 'text-green-700 dark:text-green-200'
          : toast().type === 'info'
            ? 'text-blue-900 dark:text-blue-200'
            : toast().type === 'warning'
              ? 'text-yellow-900 dark:text-yellow-200'
              : 'text-zinc-900 dark:text-white'
    }}"
  >
    {{ toast().message }}
  </p>
</div>
