@if (isRendered()) {
  <div
    class="relative left-2 right-8 md:left-auto md:right-8 bottom-15 md:bottom-4 md:w-88 z-5000 border border-gray-400/30 shadow-xs rounded-lg px-3 py-4 origin-bottom transition-all duration-300 ease-out {{
      toast().type === 'success'
        ? 'bg-green-50 text-green-700'
        : toast().type === 'error'
          ? 'bg-red-50 text-red-600'
          : toast().type === 'info'
            ? 'bg-blue-50 text-blue-600'
            : toast().type === 'warning'
              ? 'bg-yellow-50 text-yellow-700'
              : 'bg-white text-black/70'
    }}"
    [class.opacity-100]="isVisible()"
    [class.opacity-0]="!isVisible()"
    [class.pointer-events-none]="!isVisible()"
    [class.translate-y-0]="isVisible()"
    [class.translate-y-full]="!isVisible()"
    [class.scale-100]="isVisible()"
    [class.scale-95]="!isVisible()"
    (transitionend)="onTransitionEnd()"
    [inert]="!isVisible()"
  >
    <div class="flex items-center gap-2">
      @if (icon()) {
        <lucide-icon
          [img]="icon()!"
          size="20"
          class="{{
            toast().type === 'success'
              ? 'text-green-700'
              : toast().type === 'error'
                ? 'text-red-600'
                : toast().type === 'info'
                  ? 'text-blue-600'
                  : toast().type === 'warning'
                    ? 'text-yellow-700'
                    : 'text-black/50'
          }}"
          aria-hidden
        ></lucide-icon>
      }
      <p
        [attr.role]="toast().type === 'error' ? 'alert' : 'status'"
        [aria-live]="toast().type === 'error' ? 'assertive' : 'polite'"
        aria-atomic="true"
        class="sm:text-sm text-base flex-1"
      >
        {{ toast().message }}
      </p>
      <button
        (click)="closeToast()"
        aria-label="Chiudi notifica"
        class=" rounded-md px-2 py-1 sm:text-sm text-base active:scale-[0.95] cursor-pointer duration-150 transition-transform focus disabled:cursor-not-allowed disabled:hover:bg-white disabled:active:scale-100 self-center focus-visible:ring-1 focus-visible:ring-offset-1  {{
          toast().type === 'success'
            ? 'bg-green-100 hover:bg-green-200/50 text-green-700 '
            : toast().type === 'error'
              ? 'bg-red-100 hover:bg-red-200/50 text-red-600 '
              : toast().type === 'info'
                ? 'bg-blue-100 hover:bg-blue-200/50 text-blue-600 '
                : toast().type === 'warning'
                  ? 'bg-amber-100 hover:bg-amber-200/50 text-amber-700 '
                  : 'bg-gray-100 hover:bg-gray-200/50 text-black/70 '
        }}"
      >
        Chiudi
      </button>
    </div>
  </div>
}
