@if (isRendered()) {
  <div
    class="relative z-5000 border shadow-xs rounded-lg px-3 py-4 origin-bottom transition-all duration-300 ease-out {{
      toast().type === 'success'
        ? 'bg-green-50 text-green-700 border-green-400/30'
        : toast().type === 'error'
          ? 'bg-red-50 text-red-600 border-red-400/30'
          : toast().type === 'info'
            ? 'bg-blue-50 text-blue-600 border-blue-400/30'
            : toast().type === 'warning'
              ? 'bg-yellow-50 text-yellow-700/80 border-yellow-400/30'
              : 'bg-white text-black/70 border-gray-400/30'
    }}"
    [class.opacity-100]="isVisible()"
    [class.opacity-0]="!isVisible()"
    [class.pointer-events-none]="!isVisible()"
    [class.translate-y-0]="isVisible()"
    [class.translate-y-full]="!isVisible()"
    [class.scale-100]="isVisible()"
    [class.scale-95]="!isVisible()"
    (transitionend)="onTransitionEnd()"
    [inert]="!isVisible()"
  >
    <button
      aria-label="Chiudi notifica"
      (click)="closeToast()"
      class="absolute -top-2 -right-2 cursor-pointer focus focus-visible:ring-1 focus-visible:ring-offset-1 p-0.5 border rounded-full transition-colors duration-150 {{
        toast().type === 'success'
          ? 'bg-green-50 text-green-700 border-green-400/30 hover:bg-green-100'
          : toast().type === 'error'
            ? 'bg-red-50 text-red-600 border-red-400/30 hover:bg-red-100'
            : toast().type === 'info'
              ? 'bg-blue-50 text-blue-600 border-blue-400/30 hover:bg-blue-100'
              : toast().type === 'warning'
                ? 'bg-yellow-50 text-yellow-700/80 border-yellow-400/30 hover:bg-yellow-100'
                : 'bg-white text-black/70 border-gray-400/30 hover:bg-gray-100'
      }}"
    >
      <span class="toast-close-icon">
        <lucide-icon [img]="XIcon" size="16" aria-hidden></lucide-icon>
      </span>
    </button>

    <div class="flex items-start gap-2">
      @if (icon()) {
        <span class="toast-icon">
          <lucide-icon
            [img]="icon()!"
            size="16"
            class="{{
              toast().type === 'success'
                ? 'fill-green-700 text-green-50'
                : toast().type === 'error'
                  ? 'fill-red-600 text-red-50'
                  : toast().type === 'info'
                    ? 'fill-blue-600 text-blue-50'
                    : toast().type === 'warning'
                      ? 'fill-yellow-700/80 text-yellow-50'
                      : 'text-black/50'
            }}"
            aria-hidden
          ></lucide-icon>
        </span>
      }
      <p
        [attr.role]="toast().type === 'error' ? 'alert' : 'status'"
        [aria-live]="toast().type === 'error' ? 'assertive' : 'polite'"
        aria-atomic="true"
        class="md:text-sm text-base flex-1"
      >
        {{ toast().message }}
      </p>
    </div>
  </div>
}
